body
    background-color #FFF
    font-family: 'Montserrat', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

#app
    .navbar
        border-bottom 0
        background-color #1A202C
        .site-name
            color #E2E8F0
        .links
            background-color #1A202C
            a
                color #E2E8F0
        .nav-links
            .nav-item > a:not(.external):hover,
            .nav-item > a:not(.external).router-link-active
                color #E2E8F0
                border-bottom 2px solid #718096
            .nav-item .nav-link.external
                border-radius 3px
                padding .25rem .5rem
                &:hover
                    background #4A5568
            .nav-item:nth-child(3)
                .nav-link.external
                    color #FFF
                    background #DD6B20
                    &:hover
                        background #C05621
            .repo-link
                display none
    .suggestions
        border-color #1A202C
        background-color #2d3748
        li:hover
            color #fff
            background-color #1A202C

    .sidebar
        border-right none
        background-image linear-gradient(120deg,#2d3748,#2d3748,#4a5568)
        .repo-link
            display none
        .sidebar-group a.sidebar-link
            color #A0AEC0
            &.active
                color #FFF
                font-weight bold
                border-left 0
        > .sidebar-links > li:not(:first-child)
            margin-top 0

    .sidebar-group-items
        background-color #1A202C
        border-left 4px solid #C05621
    .sidebar-group:not(.collapsable) .sidebar-heading,
    .sidebar-heading
        font-weight 400
        color #E2E8F0
        display flex
        align-items center
        justify-conten center
        border-left 0
        padding 0.5rem 1rem
        &:hover, &:active, &.open
            color #F7FAFC
            background-color #C05621
        &.open
            border-left 4px solid #C05621
            background-color #1A202C
            .sidebar-links
                background-color #2d3748

    .sidebar-heading .arrow
        margin-left auto
        margin-right 0.5rem
    .sidebar-heading .arrow.right
        border-left 6px solid #A0AEC0

    .sidebar-heading .arrow.down
        border-top 6px solid #A0AEC0


.icon.outbound
    display none

p
    text-align justify
    img
        border-radius 5px
        filter drop-shadow(-1px -2px 10px #EDF2F7)

h1,
h2,
h3,
h4,
h5,
h6
    line-height 1.5
h1
    font-weight 300
h3
    color #000
    font-weight 300

@media (max-width: 767px)
    h2
        font-weight 300
    h3
        color #2D3748
        font-size: 1.1rem;


h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor
    opacity 1
    color #EDF2F7
    &:hover
        font-weight 400
        text-decoration none !important
// .content a
//     color #1A202C
.content:not(.custom)
    padding 4rem 2.5rem 1rem

    div[class*="language-"]
        border-radius 3px

.table-of-contents
    ul
        list-style none
        list-style-position outside

    > ul
        padding-left 0

        > li
            padding 0
            margin 0

    a:hover
        opacity 0.8
        text-decoration none !important

    a:active
        opacity 1
        text-decoration none !important

    a:before
        content '# '
        color #bbb
        margin-left -15px
        margin-right 3px

.sw-update-popup
    top 4.5rem
    bottom auto
    border-radius 5px
    border 1px solid #E2E8F0
    button
        border 0
        color #fff
        float right
        font-size .9rem
        margin-top 1rem
        border-radius 3px
        padding .25em 2em
        padding .5rem 1rem
        background #4A5568
        &:hover
            background #2D3748

.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #c6f6d5
    border-color #42b983
    color #22543D
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color #4A5568
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color #4A5568

