// colors
$accentColor = #C05621
$textColor = #4A5568
$borderColor = #E2E8F0
$codeBgColor = #1A202C
$arrowBgColor = #CBD5E0
$badgeTipColor = #1A202C
$badgeWarningColor = #ECC94B
$badgeErrorColor = #E53E3E

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 100%
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
